@media (min-width: 1281px) {
    #mobileMenu{
        display:none;
    }
    #banner{
    height:120%;
    width:100%;
    font-size:150px;
    color:black
    }
    #aboutme{        
        height:100%;
        margin-top:5%;
    }
    #aboutHeader{
        font-size:150px;
    }
    #aboutText{
        font-size:35px;
    }
    #portfolioHeader{
        font-size:150px;
    }
    #portfolio{        
        height:100%;
        margin-top:5%;
        font-size:50px;
    }
    #portfolioGrid{
        height:100%;
    }
    #portofioStack{
        display:none;
    }
    #contact{        
        height:100%;
        margin-top:5%;
    }
    #contactHeader{
        font-size: 150px;
    }
    }