@media (min-width: 220px) and (max-width: 480px) {
    #portfolioGrid{
        display:none;
    }
    #stackItem{
    width:100%;
    height:100px;
    }
    #portfolioStack{
        display:block;
        width:100%;
        height:100%;
    }
    .pictures{
        width:100px;
        height:100px;
        margin:0px;
    }
    .menu{
        display:none;
    }
    #mobileMenu{
        opacity:0;
        display: block;
        width:100%;
        height:75%;
        font-size:40px;

    }
    #mobile1{
        display:block;
        width:100%;
        height:25%;
        background-color:orange;
    }
    #mobile2{
        display:block;
        width:100%;
        height:25%;
        background-color:lightblue;
    }
    #mobile3{
        display:block;
        width:100%;
        height:25%;
        background-color:orangered;
    }
    #homeBtnMobile{
        background-color:purple;
        color:white;
        height:50px;
        width:100px;
    }
    #banner{
        height:25%;
        font-size:50px;
    } 
    #nameTag{
        font-size:60px;
    }
    #banner{
        height:40%;
        width:100%;
    }
    #aboutme{
        height:120%;
        width:100%;
    }
    #portfolio{
        height:120%;
        width:100%;
    }
    #contact{
        height:120%;
        width:100%;
    }
    #contactForm{
        width:90%;
        height:60%;
        margin-left:5%;
        margin-right:5%;
    }
    .formInputs{
        width:90%;
        height:10%;
        margin:5px;
    }
    .formMessage{
        width:90%;
        height:20%;
        margin:5px;
    }
    #contactLinks{
        width:100%;
        height:20%;
        display:flex;
    }
    #github{
        width:40%;
        height:100%;
        margin:0px;
    }
    #linkedin{
        width:40%;
        height:100%;
        margin-left:60%;
    }
    html{
        background-color: black;
        color:white;
        overflow:hidden;
    }
    #aboutHeader{
        font-size:50px;
    }
    #portfolioHeader{
        font-size:50px;
    }
    #contactHeader{
        font-size:50px;
    }
}