#welcomeBtn{
    opacity:0;
    background-color: white;
    color:black;
}
#welcomeDisplay{
    opacity: 0;
    color:white;
}
#nameTag{
    opacity: 0;
    color:black;
    margin-top:5%;
}
#portfolioGrid{
    height:60%;
    width:100%;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
#banner {
    background-color:black;
    transition: background-color 2s;
    height:100%;
    width:100%;
    }
    html{
        background-color: black;
        color:white;
        overflow:hidden;
    }
    .menu{
        transform:translateY(50%);
        position:fixed;
        width:600px;
        height:200px;
        z-index:5;
        opacity: 0;
        top:50%;

    }
    .menu a{
        color:white;
        display:block;
        height:25%;
        width:400px;
        text-align:center;
        font-family: 'Frank Ruhl Libre', serif;
        font-size:40px;
        transition:0.6s all;
        text-decoration: none;
        margin-left:-380px;
    }
    .menu a:hover{
        margin-left:-10px;
    }
    .pictures{
        height:200px;
        width:400px;
    }
    #banner{
        text-align:center;
        position:relative;
        width:100%;
        display:block;
        font-family: 'Frank Ruhl Libre', serif;
        z-index:1;
    }
    #aboutme{
        text-align:justify;
        font-family: 'Frank Ruhl Libre', serif;
    }
    #aboutHeader{
        color:orange;
        text-align:center;
    }
    #portfolioHeader{
        color:lightblue;
        text-align:center;
    }
    #contactHeader{
        color:orangered;
        text-align:center;
    }
    #portfolio{
        text-align:center;
    }
    #contact{
        text-align:center;
    }
    #contactForm{
        width:40%;
        height:40%;
        margin-left:30%;
        margin-right:30%;
    }
    .formInputs{
        width:100%;
        height:7.5%;
        margin:5px;
    }
    .formMessage{
        width:100%;
        height:20%;
        margin:5px;
    }
    #contactLinks{
        width:40%;
        height:20%;
        margin-left:auto;
        margin-right:auto;
        position:relative;
        display:flex;
    }
    #github{
        width:20%;
        height:20%;
        margin:0px;
        position:absolute;
        margin-left:0px;
    }
    #linkedin{
        width:20%;
        height:20%;
        margin-left:25%;
        position:absolute;
        margin-right:0px;
    }

    @media (min-width: 1281px) {
        #mobileMenu{
            display:none;
        }
        #banner{
        height:100%;
        width:100%;
        font-size:150px;
        color:black
        }
        #aboutme{        
            height:100%;
            margin-top:5%;
        }
        #aboutHeader{
            font-size:150px;
        }
        #aboutText{
            font-size:35px;
        }
        #portfolioHeader{
            font-size:150px
        }
        #portfolio{        
            height:100%;
            margin-top:5%;
            font-size:50px;
        }
        #contact{        
            height:100%;
            margin-top:5%;
        }
        #contactHeader{
            font-size: 150px
        }
        }
    @media (min-width: 1025px) and (max-width: 1280px) {
        #mobileMenu{
            display:none;
        }
        #banner{
        height:100%;
        font-size:125px;

        }
        #aboutme{
            height:100%;
            font-size:30px;
        }
        #aboutHeader{
            font-size:60px;
        }
        #portfolio{
            height:100%;
        }
        #portfolioHeader{
            font-size:60px
        }
        #contact{
            height:100%;

        }
        #contactHeader{
            font-size: 60px
        }
        }
    @media (min-width: 481px) and (max-width: 1024px) {
        .menu{
            transform:translateY(50%);
            position:fixed;
            width:600px;
            height:200px;
            z-index:5;
            opacity: 0;
            top:50%;
    
        }
        .menu a{
            color:white;
            display:block;
            height:25%;
            width:400px;
            text-align:right;
            font-family: 'Frank Ruhl Libre', serif;
            font-size:25px;
            transition:0.6s all;
            text-decoration: none;
            margin-left:-300px;
        }
        .menu a:hover{
            margin-left:-290px;
        }
        #portfolioGrid{
            display:none;
        }
        #mobileMenu{
            display:none;
        }
        #banner{
        height:100%;
        width:auto;
        font-size:75px;
        
        }
        #nameTag{
            color:purple;
        }
        #aboutme{
            height:100%;

        }
        #aboutHeader{
            font-size:50px;
        }
        #aboutText{
            font-size:30px;
        }
        #portfolio{
            height:100%;

        }
        #portfolioHeader{
            font-size:50px;
        }
        #contact{
            height:100%;

        }
        #contactHeader{
            font-size: 50px
        }
        #contactLinks{
            width:80%;
            height:20%;
            margin-left:auto;
            margin-right:auto;
        }


    
    }
    @media (min-width: 220px) and (max-width: 480px) {
        #portfolioGrid{
            display:none;
        }
        .menu{
            display:none;
        }
        #mobileMenu{
            opacity:0;
            display: block;
            width:100%;
            height:75%;

            font-size:40px;

        }
        #mobile1{
            display:block;
            width:100%;
            height:25%;
            background-color:orange;
        }
        #mobile2{
            display:block;
            width:100%;
            height:25%;
            background-color:lightblue;
        }
        #mobile3{
            display:block;
            width:100%;
            height:25%;
            background-color:orangered;
        }
        #homeBtnMobile{
            background-color:purple;
            color:white;
            height:50px;
            width:100px;
        }
        #banner{
            height:25%;
            font-size:50px;
        } 
        #nameTag{
            font-size:60px;
        }
        #banner{
            height:40%;
            width:100%;
        }
        #aboutme{
            padding-top:20%;
            height:100%;
            width:100%;
        }
        #portfolio{
            padding-top:20%;
            height:100%;
            width:100%;
        }
        #contact{
            padding-top:20%;
            height:100%;
            width:100%;
        }
        #contactForm{
            width:90%;
            height:60%;
            margin-left:5%;
            margin-right:5%;
        }
        .formInputs{
            width:90%;
            height:10%;
            margin:5px;
        }
        .formMessage{
            width:90%;
            height:20%;
            margin:5px;
        }
        #contactLinks{
            width:100%;
            height:20%;
            display:flex;
        }
        #github{
            width:40%;
            height:100%;
            margin:0px;
        }
        #linkedin{
            width:40%;
            height:100%;
            margin-left:60%;
        }
        html{
            background-color: black;
            color:white;
            overflow:hidden;
        }

    }