#nameTag{
    opacity: 0;
    text-align: center;
}



    body{
        margin:0px;
        background-color: black;
        color:white;
    }
    .marginContent{
        margin-left:5%;
    }
    #menu{
        position:fixed;
        height:100%;
        width:4.5%;
        background-color: white;
    }
    #topButtonsDiv{
        width:100%;
        height:auto;
    }
    .navBtns{
        height:5%;
        width:100%;
        background-color:black;
        opacity: 50%;
    }
    #banner{
        text-align: center;
        position:sticky;
    }
    contentContainer{    
        position:relative;
        display: block;
    }
    #aboutme{
    
        display:block;
    }
    #portfolio{
    
        display:block;
    }
    #contact{
    
        display:block;
    }
    @media (min-width: 1281px) {
        #menu{
            width:5%;
        }
        #banner{
        padding-top:5%;
        border:solid white;
        height:300px;
        font-size:225px;
        color:blue
        }
        #aboutme{        
            min-height:2000px;
            border:solid white;
        }
        #portfolio{        
            min-height:2000px;
            border:solid white;
        }
        #contact{        
            min-height:2000px;
            border:solid white;
        }
        .marginContent{
            margin-left:5.5%;
        }
    }
    @media (min-width: 1025px) and (max-width: 1280px) {
        #menu{
            width:10%;
        }
        #banner{
        padding-top:7.5%;
        border:solid white;
        height:300px;
        font-size:125px;
        color:purple;
        }
        #aboutme{
            min-height:600px;
            border:solid white;
        }
        #portfolio{
            min-height:600px;
            border:solid white;
        }
        #contact{
            min-height:600px;
            border:solid white;
        }
        .marginContent{
            margin-left:10.5%;
        }
    }
    @media (min-width: 481px) and (max-width: 1024px) {
        #menu{
            width:15%;
        }
        #banner{
        width:auto;
        border:solid white;
        max-height:500px;
        font-size:75px;
        color:green;
        }
        #aboutme{
            min-height:500px;
            border:solid white;
        }
        #portfolio{
            min-height:500px;
            border:solid white;
        }
        #contact{
            min-height:500px;
            border:solid white;
        }
        .marginContent{
            margin-left:15.5%;
        }
    }
    @media (min-width: 220px) and (max-width: 480px) {
        #menu{
            width:15%;
        }
        #banner{
        border:solid white;
        color:red;
        max-height:400px;
        font-size:50px;
        } 
        #aboutme{
            min-height:300px;
            border:solid white;
        }
        #portfolio{
            min-height:300px;
            border:solid white;
        }
        #contact{
            min-height:300px;
            border:solid white;
        }
        .marginContent{
            margin-left:15.5%;
        }
    }